@model WebStoryFroEveryting.Models.Apis.NewsViewModel

<h2>Новости</h2>


<form asp-action="News" method="get">
    <input name="title"/>
    <input type="number" name="size" value="10"/>
    <button type="submit">Найти</button>
</form>

@if (Model != null && Model.Articles != null)
{
    @foreach (var article in Model.Articles)
    {
        <div>
            <h3>@article.Title</h3>
            <p>@article.Description</p>
            <a href="@article.Url">Читать далее</a>
        </div>
    }
}
else
{
    <p>Новости не найдены.</p>
}