@{
    Layout = "_LayoutLessons";
}

@section Styles{
    <script src="/js/Types/index.js"></script>
<link href="~/css/reflection.css" rel="stylesheet" />
}

<div class="methods">
    <div class="method">
        <p class="action-name"></p>
        <p class="method-name"></p>
        <button class="send-button"></button>
    </div>
</div>