@{
    Layout = "_LayoutLessons";
}

@section Styles{
    <script src="/js/Types/index.js"></script>
}

<div class="methods">
    <div class="method">
        <p class="method-name"></p>
    </div>
</div>